[alias]
    graph = log --decorate --oneline --graph
    shove = push --force-with-lease
    amend = commit --amend --no-edit
[color]
    ui = true
[interactive]
    diffFilter = diff-highlight
[pager]
    log = diff-highlight | less -FRSX
    diff = diff-highlight | less -FRSX
    show = diff-highlight | less -FRSX
[help]
    autocorrect = 1
[core]
    excludesfile = ~/.gitignore.global
[include]
    path = ~/.gitconfig_user
    path = ~/.gitconfig_include
[init]
    templatedir = ~/.git_template
[pull]
    ff = only

# vim: set ft=gitconfig :
