[submodule ".vim/pack/alextercete/start/prettier"]
	path = .vim/pack/alextercete/start/prettier
	url = https://github.com/prettier/vim-prettier.git
[submodule ".vim/pack/alextercete/start/dim"]
	path = .vim/pack/alextercete/start/dim
	url = git@github.com:jeffkreeftmeijer/vim-dim.git
	branch = 1.x
