[submodule "vim/.vim/bundle/coffee-script"]
	path = .vim/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/.vim/bundle/commentary"]
	path = .vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/.vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/.vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/gruvbox"]
	path = .vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "vim/.vim/bundle/json"]
	path = .vim/bundle/json
	url = https://github.com/elzr/vim-json.git
[submodule "vim/.vim/bundle/markdown"]
	path = .vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/.vim/bundle/pathogen"]
	path = .vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/.vim/bundle/ps1"]
	path = .vim/bundle/ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "vim/.vim/bundle/editorconfig"]
	path = .vim/bundle/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
