[alias]
    graph = log --decorate --oneline --graph
    shove = push --force-with-lease
    amend = commit --amend --no-edit
    fixup = commit --fixup
[color]
    ui = true
[color "diff"]
    whitespace = red reverse
[help]
    autocorrect = 1
[core]
    excludesfile = ~/.gitignore.global
[include]
    path = ~/.gitconfig.user
[includeIf "gitdir:red-gate/"]
    path = ~/.gitconfig.red-gate.user
[includeIf "gitdir/i:c:/"]
    path = ~/.gitconfig.windows
[includeIf "gitdir/i:d:/"]
    path = ~/.gitconfig.windows
[includeIf "gitdir/i:/users/"]
    path = ~/.gitconfig.unix
[includeIf "gitdir/i:/home/"]
    path = ~/.gitconfig.unix
[commit]
    gpgsign = true
[pull]
    ff = only
[rebase]
    autosquash = true
[init]
    defaultBranch = main
